<!--
- Author: Luis René López
- Website: https://github.com/luislopez-dev
- Description: Open source project: Enterprise-.Net-Architecture-Template
-->

@model Domain.Entities.Product

@{
    ViewBag.Title = "Editar Producto";
    Layout = "_Layout";
}

<div>
    <form method="POST">
        <input value="@Model.Guid" name="guid" hidden="hidden"/>

        <div class="mb-3">
            <label asp-for="Name" for="InputName" class="form-label">Nombre</label>
            <input asp-for="Name" name="name" value="@Model.Name" maxlength="60" minlength="5" type="text" class="form-control" id="InputName" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label asp-for="Price" for="InputPrice" class="form-label">Precio (Q)</label>
            <input asp-for="Price" name="price" value="@Model.Price" min="1" max="100000" type="number" class="form-control" id="InputPrice">
        </div>
        <div class="mb-3">
            <label asp-for="Stock" for="InputStock" class="form-label">Stock</label>
            <input asp-for="Stock" name="stock" value="@Model.Stock" min="1" max="1000000" type="number" class="form-control" id="InputStock">
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">Descripción</label>
            <textarea asp-for="Description" maxlength="900" minlength="5" name="description" class="form-control" id="InputDescription" rows="3">@Model.Description</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>

<!--
- Author: Luis René López
- Website: https://github.com/luislopez-dev
- Description: OPEN SOURCE Project
-->
